<div>
  <h2>Import From PSN</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Trophy List Name</th>
        <th scope="col">Trophy List Platform</th>
        <th scope="col">IGDB Name</th>
        <th scope="col">IGDB Platform</th>
        <th scope="col">IGDB ID</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game[:psn_name] %></td>
          <td><%= game[:psn_platform] %></td>
          <td><%= game[:igdb_name] %></td>
          <td><%= game[:igdb_platform] %></td>
          <td><%= game[:igdb_id] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
